.App {
  text-align: center;
  font-family: 'Baloo 2', cursive;
}

.App-logo {
  /* height: 40vmin; */
}

@media (prefers-reduced-motion: no-preference) {
  .nta-favicon {
    /* height: 20vmin;
    width: 20vmin; */

    /* animation: App-logo-spin infinite 10s linear; */
  }
  .nta-favicon-animation {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
